{% extends "clerk/index.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <th scope="col">#</th>
      <th scope="col">USER DETAILS</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">SOURCE</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">PROOF</th>
{#        <th></th>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
        <td>&nbsp;<b>Name: </b> {{ i['u_name'] }}<br><b>Phone:</b>{{ i['phoneno'] }}<br><b>Email:</b>{{ i['email'] }}</td>
      <td><b>House Name: </b>{{ i['housename'] }}<br><b>Place:</b>{{ i['place'] }}<br><b>Post: </b> {{ i['post'] }}<br><b>Pin: </b>{{ i['pin'] }}</td>
      <td>{{ i['income_source'] }}</td>
      <td>{{ i['amount'] }}&nbsp;</td>
     <td><a href="/view_proof/{{ i['inc_userid'] }}" class="btn btn-outline-info btn-sm">VIEW PROOF</a></td>
</td>

       <td><p><a href="/clerk_income_approve/{{ i['inc_id'] }}" class="btn btn-outline-success btn-sm">Approve</a></p>
      <p><a href="/clerk_income_reject/{{ i['inc_id'] }}" class="btn btn-outline-danger btn-sm">Reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}