{% extends "clerk/index.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="394" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <td width="39">#</td>
      <td width="234"> Notification</td>
      <td width="99">Date</td>
    </tr>
      {% for i in data %}
    <tr>
      <td height="140">{{ loop.index }}</td>
      <td>{{ i['notification']}}</td>
      <td>{{ i['date'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}