{% extends "village officer/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <th scope="col">#</th>
      <th scope="col">HUSBAND DETAILS</th>
      <th scope="col">WIFE DETAILS</th>
      <th scope="col">DATE</th>
      <th scope="col">LOCATION</th>
      <th scope="col">PROOF&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>Name: {{ i['hn'] }}<br>DOB: {{ i['hdob'] }}<br>District: {{ i['hd'] }}<br>Thaluk: {{ i['ht'] }}<br>Village: {{ i['hv'] }}</td>
      <td>&nbsp;Name: {{ i['wn'] }}<br>DOB: {{ i['wdob'] }}<br>District: {{ i['wd'] }}<br>Thaluk: {{ i['wt'] }}<br>Village: {{ i['wv'] }}</td>
      <td>{{ i['marriage_date'] }}&nbsp;</td>
      <td>{{ i['mlocation'] }}&nbsp;</td>
         <td><a href="/vview_proof/{{ i['hmcuserid'] }}" class="btn btn-outline-info btn-sm">VIEW PROOF</a></td>

      <td><p><a href="/marriage_approve/{{ i['mcid'] }}" class="btn btn-outline-success btn-sm">Approve</a></p>
      <p><a href="/marriage_reject/{{ i['mcid'] }}" class="btn btn-outline-danger btn-sm">Reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}