{% extends "village officer/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <th scope="col">#</th>
      <th scope="col">USER DETAILS</th>
      <th scope="col">FATHER'S DETAILS</th>
      <th scope="col">MOTHER'S DETAILS</th>
      <th scope="col">PROOF&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;Name:{{ i['u_name'] }}<br>Phone:{{ i['phoneno'] }}<br>Email:{{ i['email'] }}
          <br>
          <br>
      Address: {{ i['housename'] }},<br> {{ i['place'] }},<br>{{ i['post'] }},<br>{{ i['pin'] }}</td>
      <td>Name: {{ i['fn'] }}<br>District: {{ i['fd'] }}<br>Thaluk: {{ i['ft'] }}<br>Village: {{ i['fv'] }}&nbsp;</td>
      <td>Name: {{ i['mn'] }}<br>District: {{ i['md'] }}<br>Thaluk: {{ i['mt'] }}<br>Village: {{ i['mv'] }}&nbsp;</td>
         <td><a href="/view_proof/{{ i['ncuserid'] }}" class="btn btn-outline-info btn-sm">VIEW PROOF</a></td>
      <td><p><a href="/nativity_approve/{{ i['ncid'] }}" class="btn btn-outline-success btn-sm">Approve</a></p>
      <p><a href="/nativity_reject/{{ i['ncid'] }}" class="btn btn-outline-danger btn-sm">Reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}