{% extends "village officer/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <th scope="col">#</th>
      <th scope="col">USER DETAILS</th>
      <th scope="col">FATHER'S DETAILS</th>
      <th scope="col"><p>MOTHER'S DETAILS</p></th>
          <th scope="col">STATUS</th>

    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;Name:{{ i['u_name'] }}<br>Phone:{{ i['phoneno'] }}<br>Email:{{ i['email'] }}
          <br>
          <br>
      Address: {{ i['housename'] }},<br> {{ i['place'] }},<br>{{ i['post'] }},<br>{{ i['pin'] }}</td>
      <td>Name: {{ i['father_name'] }}<br>District: {{ i['f_district'] }}<br>Thaluk: {{ i['f_taluk'] }}<br>Village: {{ i['f_village'] }}&nbsp;</td>
      <td>Name: {{ i['mother_name'] }}<br>District: {{ i['m_district'] }}<br>Thaluk: {{ i['m_taluk'] }}<br>Village: {{ i['m_village'] }}&nbsp;</td>
       <td>{{ i['status'] }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}