{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><a href="/add_dept ">ADD DEPARTMENT</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_dept">VIEW DEPARTMENT</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/add_village">ADD VILLAGE</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_village">VIEW VILLAGE</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_clerk">VIEW CLERK</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_feedback">VIEW FEEDBACK</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_complaint">VIEW COMPLAINT</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/notification_send">SEND NOTIFICATION</a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}




{% extends "admin/index.html" %}
{% block body %}
{% endblock %}