{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="348" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <td width="10">#</td>
      <td width="98">Department Name</td>
      <td width="51">Certificate Name</td>
      <td width="57">Details</td>
      <td width="44">Proof</td>
      <td width="16">&nbsp;  </td>
      <td width="26">&nbsp;</td>
      <td width="26"></td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['dept_name'] }}</td>
      <td>{{ i['certificate_name'] }}</td>
      <td>{{ i['d_details'] }}</td>
      <td>{{ i['proof_id'] }}</td>
        <td><a href="/edit_dept/{{ i['dept_id'] }}" class="btn btn-outline-success btn-sm">Edit</a></td>
      <td><a href="/delete_dept/{{ i['dept_id'] }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
      <td><a href="/add_clerk/{{ i['dept_id'] }}" class="btn btn-outline-info btn-sm">Add clerk</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}