{% extends "user/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="297" border="1" class="table table-head-bg-primary table-hover">
    <tr>
      <th width="107" scope="row">SOURCE</th>
      <td width="174"><label for="textfield4"></label>
      <input type="text" name="textfield" id="textfield4" class="form-control"required/></td>
    </tr>
    <tr>
      <th scope="row">AMOUNT</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield2" id="textfield5" class="form-control"required/></td>
    </tr>
      <tr align="center">
      <th height="27" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-outline-primary"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
