{##}
{##}
{##}
{##}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="362" border="1">#}
{#    <tr>#}
{#      <th scope="row"><a href="/application_category">VIEW APPLICATION CATEGORY</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/upload_certificate">UPLOAD CERTIFICATE MANAGEMENT</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/send_application">SEND APPLICATION REQUEST</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/user_application_status">VIEW APPLICATION STATUS</a></th>#}
{#        <tr>#}
{#      <th scope="row"><a href="/change_password">VIEW CERTIFICATE</a></th>#}
{#    </tr>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/send_complaint">SEND COMPLAINT</a></th>#}
{#    </tr>#}
{#      <tr>#}
{#      <th scope="row"><a href="/user_view_reply">VIEW REPLY</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/send_feedback">SEND FEEDBACK</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/change_password">CHANGE PASSWORD</a></th>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}



{% extends "user/index.html" %}
{% block body %}
{#    <img src="/static/ashokstambh.png" height="600" width="900">#}
{% endblock %}